:root {
    --color-1: #FAFAFA;
    --color-2: #F5F5F5;
    --color-3: #EEEEEE;
    --color-4: #BDBDBD;
    --color-5: #9E9E9E;
    --color-5: #757575;
    --color-6: #616161;
    --color-7: #282828;
    --color-8: #212121;
    --color-9: #40E0D0;
}


nav{
    display: flex;
    background-color: var(--color-8);
    height: 9vh;
}

nav ul {   
    padding-inline-start: 0px;
    margin: auto;
}

nav ul li a {
    color: var(--color-2);
    font-size: 20px;
    transition: 0.5s;
}

nav ul li a:hover{
    color: var(--color-9);
}

nav ul li {
    display: flex;
    display: inline-block;
    margin: 0 2.5vh 0 2.5vh;
}