html, body {
    min-height: 100vh;
    display : flex;
    flex-direction: column;
}

header {
    background-color: #00bda5;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 2vh;
        display: flex;
    }

        header ul li {
            margin-left: 3vh;
        }

        .login {
            border: 0;
            height: 0.5vh;
            width: 20vh;
            margin: 0;
            background-color: #099f8b;
            color: white;
            float: right;
        }

a {
    text-decoration: none;
    color: WHITE;
}
footer {
    margin-top: auto;
}
