<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Opdracht 3</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">VIDEOS</a></li>
            <li><a href="#">LABELS</a></li>
        </ul>
        <button>LOG IN</button>
    </header>
    @RenderBody()
</body>
</html>