@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">
    <link rel="stylesheet" type="text/css" href="~/css/Shared.css" />
</head>


<div class="row">
    <div class="login-wrapper">
        <section>
            <form id="account" method="post">
                <h1>CHILL Login</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="text-boxes">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                </div>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="login-submit-wrapper">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
