@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Swiper.css"> <!-- Adjust the path to your CSS file as needed -->
</head>
<body>
    <div class="display-grid">
        <div class="image-display column">
            <img src="https://picsum.photos/640/640">
        </div>
        <div class="label-column column">
            <div class="column-button-wrapper">
                <div class="all-labels">
                    <button class="column-button">Fiets</button>
                    <button class="column-button">Metaal</button>
                    <button class="column-button">Plastic Fles</button>
                </div>
                    <form class="label-form"><input type="text" placeholder="Welk label wilt u toevoegen?"><input type="submit" value="Add"></form>
            </div>
            <button class="confirm-btn">Bevestig</button>
        </div>
    </div>
</body>
</html>