@{
    ViewData["Title"] = "";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Labels.css"> <!-- Adjust the path to your CSS file as needed -->
    <link rel="stylesheet" type="text/css" href="~/css/Shared.css">
</head>
<body>
    <div class="label-container">
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text"/>
                <input type="submit" value="Edit"/>
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>

        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>

        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>
        </div>
        <div class="label">
            <div class="label-text-container"><div class="label-text">Example Label #1</div></div>
            <div class="vert-line"></div>
            <form>
                <input type="text" />
                <input type="submit" value="Edit" />
            </form>
            <div class="vert-line"></div>
            <button>Delete</button>

        </div> 
    </div>
</body>
</html>