@{
    ViewData["Title"] = "";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Overview.css"> <!-- Adjust the path to your CSS file as needed -->
</head>
<body>
    :)
</body>
</html>