@{
    ViewData["Title"] = "";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Overview.css"> <!-- Adjust the path to your CSS file as needed -->
</head>
<body>
    <div class="rated-pictures">
        <div class="rated-picture">
            <div class="img-container"><img src="https://picsum.photos/640/640"></div>
            <h5>Date</h5>
            <h5>Input</h5>
            <div class="button-wrapper">
                <button>Edit</button>
                <button>View</button>
            </div>
        </div>
    </div>
</body>
</html>