@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Image Area Selection</title>
</head>
<body>
    <div id="image-container">
        <img src="~/img/trash35_jpg.rf.9720d94edcf0c766c279bf6d0e5e40fe.jpg" id="selected-image" draggable="false"/>
        <div id="selection-rectangle"></div>
    </div>
    <div id="coordinates">
        <p>Top-Left: <span id="top-left"></span></p>
        <p>Top-Right: <span id="top-right"></span></p>
        <p>Bottom-Left: <span id="bottom-left"></span></p>
        <p>Bottom-Right: <span id="bottom-right"></span></p>
    </div>
    <script src="site.js"></script>
</body>
</html>